{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- CSS codes -->

    <style type="text/css">
     	html
	     	{
	     		scroll-behavior: smooth;
	     	}

	    body
	    	{
	    		background-color:grey;
	    	}

	    .navbar
	    	{
	    		background-color: lightgreen;
	    		box-shadow: 0px 2px 5px black;
	    		border: none;
	    		border-bottom: 2px solid black;
	    	}
	    #home-img
	    	{
	    		background-size:cover; 
	    		height:100vh; 
	    		width: 100%;
	    		box-shadow:0px 10px 10px black;
	    		margin-top: 60px;
	    	}


    </style>
    <!-- End of CSS -->
</head>
<!-- All about nav bars -->
<body data-spy="scroll" data-target=".navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Portfolio</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#mydiv">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		<div class="collapse navbar-collapse" id="mydiv">
		<ul class="nav navbar-nav">
			{% if user.is_authenticated %}

				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="">Academia</a></li>
				<li><a href="">Skills</a></li>
				<li><a href="">Projects</a></li>
				<li><a href="">Contact</a></li>

				<li class="dropdown">
		            <a href="" class="dropdown-toggle" data-toggle="dropdown">
		            Employee<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			            <li><a href="{% url 'Information:createemp' %}">Add Employee</a></li>
			            <li><a href="{% url 'Information:emplist' %}">Employee Details</a></li>
			        </ul>
		    	</li>
		    	<li class="dropdown">
		            <a href="" class="dropdown-toggle" data-toggle="dropdown">
		            Blog<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			            <li><a href="{% url 'addpost' %}">Add Post</a></li>
			            <li><a href="{% url 'allpost' %}">All Posts</a></li>
			        </ul>
		    	</li>

		    	
				
			{% else %}
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Academia</a></li>
				<li><a href="">Skills</a></li>
				<li><a href="">Projects</a></li>
				<li><a href="">Contact</a></li>
				
				
			{% endif %}
				</ul>

			{% if user.is_authenticated %}				
				<ul class="nav navbar-nav navbar-right">
					<li ><a href="{% url 'logout'%}" class="btn btn-basic btn-sm">Logout</a></li>
				</ul>

			{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'login'%}" class="btn btn-basic btn-sm">Login</a>
					</li>
					<li><a href="{% url 'signup'%}" class="btn btn-basic btn-sm">Signup</a>
					</li>
				</ul>

			{% endif %}
			
		</div>
	</nav>
	<!-- Nav bar end -->

	<!-- Home section starts -->

	<div class="container-fluid">
		<row>
			<div class="col-lg">
				<img src="static/space.jpg" id="home-img" data-aos="zoom-in>
			</div>

		</row>
	</div>



	<!-- About Section starts -->

	<div class="container-fluid">
		<div id="about" class="jumbotron col-lg" style="position: relative; top:20px;" data-aos="zoom-in" data-aos-duration="2000">
			<h2>About Me</h2 >
			<div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8">
                    <p>
                       I am a computer science undergrad, currently living in Lucknow, Uttar Pradesh, India. My interests range from technology to entrepreneurship. I am also interested in writing, blogging and programming. 
                    </p>
                </div>
            </div>
        </div>
    </div> 
<!-- About Section Ends -->


<script>
  AOS.init(
  	);
</script>	
</body>
</html>